@import "../../../styles/variables.less";

.carroussel {
  height: 400px;
  max-width: 100%;
  align-items: center;

  &__legend {
    margin-top: 10px;
    font-size: 20px;
    font-size: Poppins;

    background-color: none;
  }
}

.div_imagem_carroussel {
  .imagem_carroussel {
    max-width: 50%;
    position: absolute;
    right: 200px;
    top: 50px;
    z-index: 0;
    border-radius: 0 0 0 50px;
  }
}

.div_button_image {
  position: absolute;
  top: 510px;
  left: 350px;
}
.button_image {
  background-color: @tertiary-color;
  height: 70px !important;;
  width: 250px;
  text-align: center;
  // margin-left: 250px;
  clip-path: polygon(5% 0, 75% 0, 89% 100%, 23% 100%);
  pointer-events: none;
  border-style: double !important;
  font-size: 15px !important;
  font-family: Poppins;
  color: @secondary-color !important;
  }
.background_big {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -70px;
  right: 50px;
  z-index: -1;
  left: 230px;
  width: 300px;
  height: 400px;
  border-radius: 50%;
  margin: 50px;
  background: @tertiary-color;
  transform: rotate(45deg);
}
.bullet {
  position: absolute;
  z-index: -1;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 50px;
  background: @tertiary-color;

  &--1 {
    left: 50px;
    bottom: -50px;
  }
  &--2 {
    left: 50px;
    bottom: -100px;
  }
  &--3 {
    left: 50px;
    bottom: -150px;
  }
  &--4 {
    left: 50px;
    bottom: -200px;
  }
  &--5 {
    left: 70px;
    bottom: -250px;
  }
  &--6 {
    left: 120px;
    bottom: -270px;
  }
  &--7 {
    left: 170px;
    bottom: -270px;
  }
  &--8 {
    left: 220px;
    bottom: -270px;
  }
  &--9 {
    left: 270px;
    bottom: -270px;
  }
  &--10 {
    left: 320px;
    bottom: -270px;
  }
}
a .coluna_carrossel {
  width: 100%;
}
