@import "../../styles/variables.less";

.listing {
  @media only screen and (max-width: 800px) {
    flex-wrap: wrap;
  }
  &__title-border {
    height: 4px;
    width: 8vw;
    margin-top: -1em;
    margin-bottom: 1em;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      @primary-color 0%,
      @secondary-color 100%
    );
  }
  &__carrossel-principal {
    @media only screen and (max-width: 800px) {
    }
    .carousel-root {
      @media only screen and (max-width: 800px) {
      }
    }
    ul.control-dots {
        display: flex;
        position: relative !important;
        top: 650px;
        justify-content: center;
       
      @media only screen and (max-width: 800px) {
      }
    }
  }
  .listing__carroussel_secundario {
    max-width: @site-max-width;
    height: 600px;
    ul.control-dots {
      display: flex;
      justify-content: center;
      @media only screen and (max-width: @header-mobile-width) {
      }
    }
    .text__title {
      text-shadow: 2px 2px 4px #212121;
    }
  }
  
  > div {

    > h1 {
      width: 80%;
      position: relative;
      top: 150px;
      left: 90px;
      font-size: 49px;
      font-weight: normal;
      letter-spacing: 0.01em;
      font-family: Poppins;
      color: @primary-color;
      text-align: left;
      margin: 0;
      @media only screen and (max-width: @header-mobile-width) {
        position: relative;
        top: 150px;
        left: -60px;
        font-size: 39px;
      }
    }
    
    > div {
      font-size: 1.2em;
    }

    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  .text__title {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .text__title--stroke {
    -webkit-text-stroke: 1px @primary-color;
    -webkit-text-fill-color: white;
  }
  .carousel-slider {
    margin-top: 0;
  }
  .axis-horizontal {
    margin-top: 0;
    @media only screen and (max-width: @header-mobile-width) {
      width: @site-width!important;
      padding: 0;
    }
  }
  .carousel-slider {
    width: @site-width;
  }
}