@import "../../styles/variables.less";

.ant-layout-header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: @header-size !important;
  line-height: @header-size !important;
  background: @header-background !important;
  box-shadow: none;
  padding: 0px;
  @media (max-width: @header-mobile-width) {
    padding: 0 px !important;
    line-height: @header-size-mobile !important;
    .headersvg {
      position: absolute;
      top: 0px;
      opacity: 1 !important;
    }
  }
  @media (min-width: @header-mobile-width) {
    .headersvg {
      top: -80px;
    }
  }
  &__wrapper {
    width: 100%;
    max-width: @site-max-width;
    display: flex;
    position: absolute;
    .anticon {
      > svg {
        width: 400%;
        color: white;
      }
    }
  }
  > *:not(.menu-burger-open) {
    z-index: 1000;
  }

  &.header-burger-open .menu {
    display: block;
    width: 100vw;
    left: 0;
    background-size: 100%;
    background-color: rgba(74, 21, 9, 0.98);
    .log {
      display: none;
    }
    span {
      height: 80px;
      text-align: center;
      a {
        color: @header-menu-burger-open-font-color;
        font-size: @header-menu-burger-open-font-size;
      }
    }
    .ant-menu-vertical > .ant-menu-item,
    .ant-menu-vertical-left > .ant-menu-item,
    .ant-menu-vertical-right > .ant-menu-item,
    .ant-menu-inline > .ant-menu-item,
    .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
    .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {//Altura do componente menu
      height: 14vh;
      top: 20px;
      min-height: 50px;
    
    }
    .ant-menu-title-content { //Altura do componente do menu.
      min-height: 5rem;
      > a:before {
            }
      > a {
        position: relative;
        top: 22%;
      }
    }
    @media only screen and (max-width: @header-mobile-width) {
      background-size: 150%;
      width: 100%;
      height: 101%;
      top: -1px;
      span {
        a {          
          font-size: 3rem;
          color: @secondary-color;
          top: 15px !important;
        }
      }
    }
  }
  .headersvg {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 0;
    opacity: 0.8;
    z-index: 2;
    
  }
  .logo {
    z-index: 3;
    img {
      position: relative;
      display: flex;
      width: @logo-width;
      top: 0px;
      margin-left: auto;
      margin-right: auto;
    }
    @media only screen and (max-width: @header-mobile-width) {
      max-width: 400px;
      img {
        width: 40%;
        height: auto;
      }
    }
  }
  .menu-languages {
    line-height: @header-line-height !important;
    background-color: transparent;
    color: @header-menu-color;
    border-bottom: none;
    display: flex;
    width: 150px !important;
    .ant-menu-submenu-title:hover {
      color: @header-menu-color-hover !important;
    }
    li {
      margin-bottom: 20px !important;
      display: inline;
      &:hover {
        border-color: @header-menu-color-hover !important;
      }
    }
  }
  .menu {
    width: 100%;
    line-height: @header-line-height !important;
    @media only screen and (max-width: @header-mobile-width) {
      display: none;
    }
    ul {
      width: 100%;
      background-color: transparent;
      margin-left: auto;
      margin-top: 5%;
      border-bottom: none;
      border-right: none;
      justify-content: flex-end;

      li {
        border: 0 !important;
        background-color: transparent !important;

        &:after {
          content: unset;
        }

        @media screen and (max-width: @header-mobile-width) {
          display: block;
        }

        &:hover {
          a {
            color: @header-menu-burger-open-font-color !important;
          }

          border-color: @header-menu-color-hover !important;
        }

        a {
          color: @header-menu-color;
          font-size: 1em;
        }
      }
    }

    &-languages {
      margin-left: 0 !important;

      @media screen and (max-width: @header-mobile-width) {
        margin-right: 32px;
        margin-left: auto !important;
      }
    }
  }

  .menu-burger-button {
    position: absolute;
    width: auto;
    height: auto;
    top: 3vw;

    .burger {
      // height: calc(@header-size-mobile / 1 );
      // left: 5em;
      // width:calc(@header-size-mobile / 1 );
      .burger-lines {
        height: 0.5rem;
        width: 4rem;
      }
      .burger-lines:after {
        width: 4rem;
        height: 0.5rem;
        top: -1.5em;
      }
      .burger-lines:before {
        width: 4rem;
        height: 0.5rem;
        top: 1.5em;
        left: 0;
      }
    }
  }
  @media only screen and (min-width: @header-mobile-width) {
  }
  @media only screen and (max-width: @header-mobile-width) {
    .burger {
      font-size: 8px;
      top: 0;
      left: 5em;
      .burger-lines {
        height: 0.3rem !important;
        width: 2.2rem !important;
      }
      .burger-lines:after {
        width: 2.2rem !important;
        height: 0.3rem !important;
      }
      .burger-lines:before {
        width: 2.2rem !important;
        height: 0.3rem !important;
      }
    }
  }

  .menu-burger {
    @media only screen and (min-width: @header-mobile-width) {
      display: none;
    }
  }
  .menu-level-1 {
    /* SAMPLE OF MENU CUSTOM LEVEL */
  }
}
.ant-menu-sub,
.ant-menu-submenu-popup {
  border-radius: 2px !important;
}
.header-burger-open {
  .menu {
    display: block;
    position: fixed;
    height: 100%;

    @media only screen and (max-width: @header-mobile-width) {
      height: calc(100% - @header-size-mobile);
      top: @header-size-mobile;
    }
  }
}
.burger.burger-slip.open .burger-lines {
  background-color: initial !important;
}
