@import "../../../styles/variables.less";

.quick-links {

    max-width: 1000px;
    margin: 0 auto;

    &__title--stroke {
        -webkit-text-stroke: 1px @primary-color;
        -webkit-text-fill-color: white;
    }

    >h1 {
        font-size: 79px;
        font-weight: normal;
        letter-spacing: .01em;
        font-family: Poppins;
        color: @primary-color;
        text-align: center;
        margin-top: 50px;

        @media only screen and (max-width: @header-mobile-width) {
            font-size: 2.7em;
            line-height: 1.5;
        }
    }

    >h3 {
        font-size: 40px;
        font-weight: normal;
        letter-spacing: .01em;
        font-family: Poppins;
        text-align: center;
        font-weight: 400px;
        font-style: italic;
        color: @primary-color;
        line-height: 60px;
        //margin-top: 0px;
        -webkit-text-stroke: 1px @primary-color;
        -webkit-text-fill-color: white;

        @media only screen and (max-width: @header-mobile-width) {
            font-size: 1.5em;
            //padding-top: 35px;
            line-height: 1.5;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        @media only screen and (max-width: @header-mobile-width) {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        > button {
            background-color: @tertiary-color;
            width: calc(100% - 20px);
            max-width: 300px;
            height: 40px;
            text-align: center;
            border-radius: 25px 0px 0px 25px;
            clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
            color: @secondary-color;
            font-family: Poppins;
            font-size: 1.2em;
            @media only screen and (max-width: @header-mobile-width) {
                margin-top: 20px;
            }

            > svg {
                position: absolute;
                margin-left: -30px;
                margin-top: 4px;
            }

            &:first-child {
                clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
            }
            &:nth-child(2) {
                clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
            }
            &:last-child {
                clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
            }
        }
    }
}