@import "../../styles/variables.less";


.content {
    .button{
        height: 60px;
    }
    > div {
        width: 100%;
    }
    > ul.actions {
        width: 300px;
        @media only screen and (max-width: 800px) {
            width: 100%;
        }
    }
    .text__title--stroke{
        -webkit-text-stroke: 1px @primary-color;
        -webkit-text-fill-color: white;
    }
    .text {
    
        max-width: 1000px;
        margin: 0 auto;
        

        > h1 {
            font-size: 79px;
            font-weight: normal;
            letter-spacing: .01em;
            font-family: Poppins;
            color: @primary-color;
            text-align: center;
            margin-top: 50px;
            @media only screen and (max-width: @header-mobile-width) {
                font-size: 2em;
                line-height: 1.5; 
            }
            .text__title__events{
                font-size:30px;
                margin-top:-20px;
                
            }
           
        }
      
        > h3{
            font-size: 40px;
            font-weight: normal;
            letter-spacing: .01em;
            font-family: Poppins;
            text-align: center;
            font-weight: 400px;
            font-style: italic;
            color:@primary-color;
            line-height: 60px;
            margin-top: -70px;
            line-height: 1.5;
            -webkit-text-stroke: 1px @primary-color;
            -webkit-text-fill-color: white;
            @media only screen and (max-width: @header-mobile-width) {
                font-size: 1.5em;
                padding-top: 15%;
                line-height: 1.5; 
            }
            }
            
            > div {
                font-size: 1.2em;
                > ul {
                    margin-left: 40px !important;
                }
            }
            &__text2{
                margin-bottom: 150px;
            }
            &__divButton{
                
                display:flex;
                flex-direction:row;
                justify-content:center ;
                align-items: center;
                
                .ant-btn-primary {
                    height: 60px;
                    border-radius: 25px 0px 0px 25px;
                    .icons{
                        width: 35px;
                        margin-top: 5px;
                    }
                }
                @media only screen and (max-width: @header-mobile-width) {
                    display:flex;
                    flex-direction:column;
                    justify-content:center ;
                    align-items: center;
                }  
            }
            &__button1{
                margin-top :-17%;
                margin-left: -5px;
                color: @secondary-color;
                font-family: Poppins;
                font-size: 2rem;
                @media only screen and (max-width: @header-mobile-width) {
                    margin-top :-18%;
                }
            }
            &__button2{
                margin-top :-2%;
                margin-left: -20px;
                color: @secondary-color;
                font-family: Poppins;
                font-size: 20px;
            }
            > div{
                >p{
                    margin-top: 100px;
                    margin-left: 230px;
                    font-family: Poppins;
                
                    @media only screen and (max-width: @header-mobile-width) {
                        margin-top :10%;
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }
            }
            &__eventsSelect{
                text-align: center;
                margin-top: 30px;
                
                
                >select{ 
                    width: 700px !important;
                    background-color: ORANGE;
                }
                >h1{
                    
                    width: 250px;
                    background-color: @tertiary-color;
                    position: relative;
                    left:10px;
                    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
                } 
            }  
    }
    .text__title__events{
    position:relative;
    left:-550px;
    line-height:50px;
    }
    .title_imageTop{
        font-size: 20px !important;
        color:@secondary-color!important;
        position:relative;
        top:-20px;
        left:-140px;
    }
    .content_imageTop{
        position:relative;
        top:-130px;
        left:-120px
    }
    &__text {
        h1{
           margin-right: auto;
           margin-left: auto;
        }
    }
    &__image-left{
        max-width: 1000px;
        margin: 0 auto;
        .button4{
            background-color: @primary-color;
            height: 60px;
            clip-path: polygon(10% 0, 90% 0, 95% 100%, 15% 100%);
            h4{
                position: relative;
                font-size: 1.5rem;
                left: 15px;
                top:8px;
                border: 5px solid @secondary-color;
                
            }
            
        
        }
    }
    &__image-left img {
        width: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 90px;
        border-radius: 0 40px 0px 40px !important;
        @media only screen and (max-width: @header-mobile-width) {
            font-size: 1em;
            line-height: 2.5;
            width: 90%;
             
            }
    }
    &__image-right{
        position:relative;
        top:50px;
        left:1200px;
        width:400px !important;
        height: 600px;
        clip-path: polygon(14% 1%, 100% 0%, 75% 100%, 0% 100%);
        background-color: @tertiary-color;
        background-image: linear-gradient( @primary-color,@tertiary-color,);
    }
    &__image-right img  {
        position:relative;
        top:30px;
        left:-240px;
        width:350px !important;
        clip-path: polygon(14% 1%, 100% 0%, 75% 100%, 0% 100%);
    }
    &__image-top{
        position:relative;
        top:-550px;
        left:150px;
        width:400px !important;
        height: 600px;
        clip-path: polygon(14% 1%, 100% 0%, 75% 100%, 0% 100%);
        background-color: @tertiary-color;
        background-image: linear-gradient( @primary-color,@tertiary-color,);
    }
    &__image-top img {
        position:relative;
        top:20px;
        left:25px;
        width:350px !important;
        clip-path: polygon(14% 1%, 100% 0%, 75% 100%, 0% 100%);

    }
    &__image-bottom{
        position:relative;
        top:-750px;
        right:-650px;
        width:400px !important;
        height: 600px;
        clip-path: polygon(14% 1%, 100% 0%, 75% 100%, 0% 100%);
        background-color: @tertiary-color;
        background-image: linear-gradient( @primary-color,@tertiary-color,);
    }
    &__image-bottom img{
        position:relative;
        top:20px;
        right:-25px;
        width:350px !important;
        clip-path: polygon(14% 1%, 100% 0%, 75% 100%, 0% 100%);
        background-color: @tertiary-color;
    }
    &__text-service {
        > h1 {
            font-size: 2em;
            font-weight: normal;
            letter-spacing: .01em;
        }
        &__title-border {
            height: 4px;
            width: 8vw;
            margin-top: -1em;
            margin-bottom: 1em;
            background: rgb(255,255,255);
        }
        }
    }
    .button1{
        background-color: @tertiary-color;
        height: 74px;
        width: 400px;
        text-align: center;
        margin-left: 70px0;
        clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
        overflow:inherit;
        pointer-events: none;
        @media only screen and (max-width: @header-mobile-width) {
            max-width: 250px;
            margin:0;
            border:0;
            font-size: 25px;
            font-weight:bold;
            margin-top:10%;
            margin-left: 15%;
          }
    }
    .button2{
        background-color: @tertiary-color;
        height: 74px;
        width: 400px;
        text-align: center;
        margin-left: 70px;
        clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
        overflow:inherit;
        pointer-events: none;
        @media only screen and (max-width: @header-mobile-width) {
            max-width: 250px;
            margin:0;
            border:0;
            font-size: 25px;
            font-weight:bold;
            margin-top:10%;
            margin-left: 15%;
            
          }
    }
    .button3{
        background-color: @tertiary-color;
        height: 74px;
        width: 400px;
        text-align: right;
        margin-left: 70px;
        clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
        overflow:inherit;
        pointer-events: none;
       
        
        @media only screen and (max-width: @header-mobile-width) {
          
            max-width: 250px;
            margin:0;
            border:0;
            font-size: 25px;
            font-weight:bold;
            margin-top:10%;
            margin-left: 15%;
            
          }
    }
  
    .button4{
        background-color: @tertiary-color;
      
        height: 350px;
        width: 250px;
        text-align: center;
        margin-left: 250px;
        clip-path: polygon(5% 0, 75% 0, 89% 100%, 23% 100%);
        pointer-events: none;
        border-style: double !important;
        @media only screen and (max-width: @header-mobile-width) {
            margin-left: 70px;
        }
    }
    .icons{
        position:relative;
        right:100px;
        width: 25px;
        top:3px;
        @media only screen and (max-width: @header-mobile-width) {
           width: 10%;
           margin-top: 2%;
           margin-left: 30px;
            
          }
        }
    .ant-btn {
        height: 90px;
        min-width: 190px;
        > span {
            text-transform: uppercase;
            letter-spacing: .05em;
            font-size: 1.2em;
            padding: 0 20px;
            height: 90px;
            .ant-btn-primary{

                .button4{
                    height: 100px;
                    
                }
            }
        }
        
    .actions__item {
        background-color: @primary-color;
        text-align: center;
        border-color: @primary-color;
        h4 {
            color: #ffffff;
        }
        a {
            color: @secondary-color;
        }
        &:hover {
            cursor: pointer;
            background-color: @secondary-color;
            color: #000000;
            h4 {
                color: #000000;
            }
            a {
                color: @primary-color;
            }
        }
    }
   
}


