@import "../../styles/variables.less";

.event-detail {
  width: 100%;
  max-width: @site-max-width;
  margin-left: auto;
  margin-right: auto;

  &__detail {
    margin-left: 10px;
    margin-right: 10px;
    > p {
      margin-bottom: 20px;
    
      .anticon {
        font-size: 30px;
      }
    }
  }
}